exported_files
copy-files.ps1
run-copy.bat

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Исключаем служебные файлы, но не исключаем файлы сборки для GitHub Pages
!.nojekyll
